.body {
	margin:0;
	padding:0;
	width: 100% !important;
	size-adjust:100%;
	-ms-text-size-adjust:100%;
	&__table {
		background-color: $c-bckg;
		height:100% !important;
		margin:0;
		padding:0;
		width:100% !important;
		border-collapse: collapse;
	}
}
