$spacing: 15px;
$duration: 300ms;

$fw-bold: 700;
$fw-regular: 400;
$fs-text: 14px;
$fs-title: 30px;

$sp-base: 15px;
$br: 3px;



$c-light: #ffffff;
$c-dark: #2F3744;
$c-green: #0F9D58;
$c-blue: #1869B7;
$c-grey: #b2bbcd;

$c-bckg: $c-light;
$c-success: $c-green;
$c-text-dark: $c-dark;
$c-text-light: $c-light;
$c-text-grey: $c-grey;
$c-border-dark: $c-dark;
$c-border-dim: $c-grey;
$c-download: $c-blue;
