<tr>
    <td class="mobile-fw" bgcolor="#ffffff" align="center" valign="top" width="600">
        <table class="mobile-fw" border="0" cellpadding="0" cellspacing="0" width="600">
            {{> spacing }}
            <tr class="header">
                <td align="center">
                    <font face="'Roboto', sans-serif;">
                        <span class="font-text-dim">
                            TEST RESULT
                        </span>
                    </font>
                    <br />
                    <font face="'Roboto', sans-serif;">
                        <span class="font-title success">
                            SUCCESS
                        </span>
                    </font>
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            {{> spacing }}
            {{> spacing }}
        </table>
    </td>
</tr>
